<footer class="footer navbar-default" role="contentinfo">
    <div class="container">
        <p class="mb-0 mt-1">
            @((MarkupString)copyright)
        </p>
    </div>
</footer>

@code {
    string copyright;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(copyright))
        {
            await Task.Run(() =>
            {

                var netCoreVer = System.Environment.Version;
                var architecture = System.Environment.OSVersion.Platform;
                var runtimeVer = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
                var os = System.Runtime.InteropServices.RuntimeInformation.OSDescription;
                var appVer = GetType().Assembly.GetName().Version.ToString();
                copyright = $"Version {appVer}<br />on {os}<br />via {runtimeVer}";
            });
        }
    }
}
